.article {
    margin-bottom: 10px;
    padding: 15px;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    box-sizing: border-box;

    &-title{
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 10px;
    }

    &-actions {
        margin-top: 15px;
        text-align: right;

        &__item {
            margin: 0px 10px;
        }
    }

    &-content {
        &__show-more{
            color: blue;
            border-bottom: 1px dotted;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}